In [8]:
lst1 = ["amit" , "learning", "machine"]
lst2 = [] 
for i in lst :
    lst2.append(len(i))
lst2.sort()
lst2[-1]

8

In [6]:
for i in lst:
    
    print(i , len(i))

amit 4
learning 8
machine 7

In [7]:
def max_len(lst):
    for i in lst:
        print(i , len(i))

In [9]:
max_len(lst1)

amit 4
learning 8
machine 7

In [10]:
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "
word= input("enter the string ")
cleaned = ""
for i in word:
    if i in illegal_chars:
        cleaned +=''
    else:
        cleaned+=i
cleaned

enter the string asd!@3445

'asd'

In [28]:
def cln(lst):
    cln_lst = []
    for word in lst:
        cleaned=''
        for i in word:
            if i in illegal_chars:
                cleaned = cleaned + ''
            else:
                cleaned+=i
        cln_lst.append(cleaned)
    return cln_lst

In [29]:
lst1 = ["amit#$$%" , "learning$%$%", "machine$%$"]

cln(lst1)

amit#$$%
learning$%$%
machine$%$

In [33]:
t = (1,2,3,4,5)
try:
    t.index(6)
except:
    print("tuple.index(x): x not in tuple")

tuple.index(x): x not in tuple

In [43]:
m = 12
try:
    print(m)
    print("all is good")
except:
    print("is not defined")
    print("maybe")

12
all is good

In [46]:
f = open("test.txt" , "r")
f.read()

'ahmed'

In [53]:
m = open(r"C:\Users\AMIT\Desktop\tasks\test.txt"   , "r")
m.read()

'amit learning'

In [70]:
w = open(r"C:\Users\AMIT\Desktop\tasks\tasksssss.txt" , "a")

In [71]:
w.write("bbbbbbb")

7

In [72]:
w.close()

In [73]:
x = open("../task_1_2.txt" , 'x')

In [76]:
import pandas as pd

In [77]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [81]:
df = pd.read_csv("Breast_Cancer.csv")

In [82]:
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [92]:
lst1 = [2,3,4,5,6]
lst2 = [3,4,5,6,7]
for i in range(len(lst2)):
    print(lst1[i] , " * " , lst2[i]," = " ,lst1[i] * lst2[i])

2  *  3  =  6
3  *  4  =  12
4  *  5  =  20
5  *  6  =  30
6  *  7  =  42

In [86]:
lst1 = [2,3,4,5,6]
lst2 = [3,4,5,6,7]
lst = []
for i in range(len(lst1)):
    lst.append(lst1[i] * lst2[i])

In [87]:
lst

[6, 12, 20, 30, 42]

In [90]:
f = open("results.txt" , "a")
f.write(str(lst))

19

In [91]:
f.close()

In [95]:
%run note_one.ipynb

In [96]:
summ(2,3)

5

In [97]:
mult(3,3)

9

In [101]:
import note_one as no

In [102]:
no.summ(2,3)

5

In [104]:
import random

In [110]:
random.random()

0.6824841417956178

In [140]:
random.randint(1,10)

10

In [141]:
random.randrange(1,10)

4

In [129]:
s = set()
for i in range(5):
    s.add(random.choice(["amit","asd" , "a" , "b" , "c", "d"]))

In [130]:
s

{'a', 'asd', 'b', 'c'}

In [147]:
o = input("enter the operator [ mult , add , div]")
x = float(input("enter first num "))
y = float(input("enter second num "))

enter the operator [ mult , add , div]mult
enter first num 12
enter second num 12

In [146]:
%run note_one.ipynb

In [149]:
if o == "mult":
    print(mult(x,y))

144.0

In [150]:
def f(x):
    if x == 1 :
        return 1
    else:
        return x * f(x-1)

In [151]:
f(5)

120

In [152]:
lst1 = [2,3,4,5,6]
for i in lst1:
    if i == 5:
        break
    else:
        print(i)

2
3
4

In [153]:
lst1 = [2,3,4,5,6]
for i in lst1:
    if i == 5:
        continue
    else:
        print(i)

2
3
4
6