# upload data

In [ ]:
""" comment 
    comment 
    comment 
    comment 
"""

print("group maadi 48 ")

In [5]:
print("group maadi 48 ")

group maadi 48

In [ ]:
print("group maadi 48 ")

In [10]:
x = 5 
type(x)

int

In [11]:
x = 5.5 
type(x)

float

In [14]:
x=int(x)

In [17]:
x = 5

In [18]:
print(x)

5

In [19]:
id(x)

2305737163120

In [20]:
x = 30 
print(x)

30

In [21]:
id(x)

2305737163920

In [1]:
print(x)

NameError: name 'x' is not defined

In [8]:
x = "amit learning"
print(x)

amit learning

In [9]:
type(x)

str

In [23]:
x = 10 
y = 20
z = 30

In [24]:
print('the value of x is : ',x)
print("the value of y is : ",y)
print("the value of z is : ",z)

the value of x is :  10
the value of y is :  20
the value of z is :  30

In [25]:
print(f'the value of x is : {x}')
print(f"the value of y is : {y}")
print(f"the value of z is : {z}")

the value of x is : 10
the value of y is : 20
the value of z is : 30

In [27]:
print('the value of x is : {} , and y value is {1}'.format(x , y))
# print("the value of y is : {}".format(y))
print("the value of z is : {}".format(z))

the value of x is : 20 , and y value is 10
the value of z is : 30

In [28]:
print('the value of x is ' , x , 'and the value of y is ',y)

print("the value of z is : {z}")

the value of x is  10 and the value of y is  20
the value of z is : {z}

In [37]:
x = 2 
y = 3

In [38]:
x**y

8

In [39]:
x = -1
abs(x)

1

In [40]:
x = "amit learning"
x[-1]

'g'

In [43]:
x[0:2:1]

'am'

In [53]:
x[: : -1]

'gninrael tima'

In [55]:
%df = 20

UsageError: Line magic function `%df` not found.

In [57]:
name_x = 20

In [61]:
_x = 20

In [62]:
_x

20

In [63]:
x = 10

In [64]:
id(x)

1324614484496

In [65]:
x= 20 
id(x)

1324614484816

In [68]:
x = 10 * False

0

In [69]:
x = 10.5
type(x)

float

In [70]:
int(x)

10

In [74]:
x = "amit"

In [76]:
x[0] = "d"

TypeError: 'str' object does not support item assignment

In [78]:
x = "amit "
y = "learning"
x+y

'amit learning'

In [86]:
x = " amit "
x=x.strip()
x.upper()
x.lower()

'amit'

In [87]:
name = input("enter your name ")

enter your name ahmed

In [90]:
print(name)

ahmed

In [94]:
num = int(input("enter your age"))

enter your age30

In [95]:
type(num)

int

In [96]:
num1 = float(input("enter first num "))
num2 = float(input("enter second num "))
print(f"the sum of two numbers is {num1+ num2} and the mult is {num1*num2}")

enter first num 2
enter second num 3
the sum of two numbers is 5.0 and the mult is 6.0

In [97]:
3/2

1.5

In [3]:
x = 10 
y = x+10
z = y + x -20
z

10

In [8]:
9 % 2

1

In [10]:
3 // 2

1

In [14]:
3 > 3 or 3 == 3

True

In [15]:
3 > 3 and 3 == 3

False

In [17]:
2 != 2

False

In [19]:
x = False 
x

False

In [20]:
not x

True

In [26]:
x = 10 

x -= 1
x

9

In [27]:
x = 20 
y = 5 
(x+ True) / (4 - y * False )

5.25

In [32]:
x = 10 
y = 20 
if x == y :
    print("the value of x equal the value of y")
elif x >= y:
    print("the value of x is greater than y ")
elif x <  y:
    print("the value of x is less than y ")
else:
    print("the values not equal")

the value of x is less than y

In [34]:
x = [1,2,3,4,5,6]
for i in x:
    if i == 4 :
        print("the value is " , i)
    else:
        print(i)

1
2
3
the value is  4
5
6